{% extends 'blog/layout.htm' %} {% block content %}
<div class="container mt-5">
  <h1>Blog</h1>
    
  <h3>Welcome</h3>
</div>
{% for detailedpost in posts %}
<main role="main" class="container">
  <div class="jumbotron">
    <h1>{{ detailedpost.titile }}</h1>
    <p class="lead"><small>{{ detailedpost.category }}</small></p>
    <p class="lead">{{ detailedpost.body }}</p>
    <a class="btn btn-lg btn-primary" href="{% url 'blog' %}" role="button"
      >&raquo; Back</a
    >
  </div>
</main>

{% endfor %} 
{% endblock %}
